{% extends "data/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <title>Document</title>
</head>
<body>
    <h1>{{ workers.name }}</h1>
    <ul>
        <li>{{ workers.address }}</li>
        <li>{{ workers.phone }}</li>
        <li>{{ workers.email }}</li>
    </ul>

    <a href="{% url 'data:salary' workers.id %}">See salary</a>
</body>
</html>
{% endblock content %}


